<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= f.fields_for :ingredients do |ingredient| %>
    <div>
      <div>
        <%= ingredient.label :name %>
        <%= ingredient.text_field :name %>
      </div>
      <div>
        <%= ingredient.label :quantity %>
        <%= ingredient.text_field :quantity %>
      </div>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>